@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for DataTables */
.dataTables_wrapper .dataTables_length {
    margin-right: 10px;
}

.dataTables_wrapper .dataTables_info {
    margin-left: 10px;
}

.dataTables_wrapper .dataTables_paginate {
    display: flex;
    align-items: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #4a5568;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #edf2f7;
}
